* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #C7F0BD;
}
/*color*/
.intro {
    margin-top: 20px;
    background-color: #C7F0BD;
    min-height: 580px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: x-large;
}
.carousel {
    margin-top: 50px;
}

/*footer*/
footer {
   background-color: ;
}
footer ul {
    display: flex;
    justify-content: space-between;
    align-content: center;  
    list-style-type: none;
}
footer ul li i,
footer .copyright {
    color: rgba(255, 255, 255, 0.829);
}
/*about*/
#gallery {
    background-color: #B3CDD1;
    margin: 0;
    padding-top: 60px;
}

/*gallery*/
#gallery {
    background-color: #9FA4C4;
    margin: 0;
    padding-top: 60px;
}
#galleryitem {
    align: center;
    max-width: 400px;
    max-height: 400px;
    padding:10px;
}
#photos {
    padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.modal {
    min-width: 90% !important;
}
#pic {
    max-width: 99%;
}

.spacing {
    padding: 40px;
}
@media only screen and (max-width: 600px) { 
    #galleryitem {
        align: center;
        width: 250px !important;
        max-height: 400px;
        padding:10px;
    }
}